@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
    <div class="banner-text">
        <h1>Hora do Treinamento</h1>
        <h3>O primeiro passo para o sucesso</h3>
        <a href="@Url.Action("Index", "Contatos")" class="btn btn-primary">Entrar</a>
    </div>
</div>
